<div class="container">
    <div class="row">

        <!-- FORM  -->
        <div class="col-md-12">
            <form class="form-horizontal" id="form-user-client" name="formUser"
                  ng-submit="home.newUser(dataUser)">
                <fieldset>

                    <!-- Form Name -->
                    <legend>User</legend>

                    <div class="form-group">
                        <div ng-show="home.msgAlert.text" class="alert alert-{{home.msgAlert.type}} alert-dismissible"
                             role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            {{home.msgAlert.text}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="client-name">Name</label>
                        <div class="col-md-4">
                            <input id="client-name" name="name" type="text" placeholder="your user's name"
                                   ng-model="dataUser.name" required class="form-control input-md">
                            <span class="help-block">Full name of your user</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="client-email">Email</label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <span class="input-group-addon">@</span>
                                <input id="client-email" name="email" class="form-control" required
                                       ng-model="dataUser.mail" placeholder="yourname@yourdomain.com" type="email">

                            </div>
                            <p class="help-block">Email of your user</p>
                        </div>
                    </div>

                    <!-- Button -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="btn-save"></label>
                        <div class="col-md-4">
                            <input type="hidden" ng-model="dataUser.id" name="id">
                            <input type="submit" value="Save" class="btn btn-success">
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>

        <!-- LIST -->
        <div class=col-md-12>
            <legend>List of clients</legend>
            <table class="table table-bordered table-condensed table-hover">
                <thead>
                <tr>
                    <td>Name</td>
                    <th>Email</th>
                    <th>Created at</th>
                    <th>Updated at</th>
                    <th>Actions</th>
                </tr>

                </thead>
                <tbody id="form-list-client-body">
                <tr ng-repeat="user in users track by user.id">
                    <td>{{ user.name }}</td>
                    <td>{{ user.mail }}</td>
                    <td>{{ user.created_at | asDate | date:'dd/MM/yyyy'}}</td>
                    <td>{{ user.updated_at !== null ? (user.updated_at | asDate | date:'dd/MM/yyyy') : '--'}}</td>
                    <td>
                        <button type="button" class="btn btn-default"
                                ng-click="home.editUser(user)">
                            <span class="glyphicon glyphicon-edit text-primary"></span>
                        </button>
                        <button type="button" class="btn btn-default"
                                confirmed-click="home.removeUser(user.id)"
                                ng-confirm-click="Would you really like remove this users?">
                            <span class="glyphicon glyphicon-trash text-danger"></span>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
